html {
  scroll-behavior: smooth;
}

article {
  position: relative;
}

body {
  font-family: 'Roboto', sans-serif;
}

.fondOnepiece {
  width: 100vw;
  display: block;
}

.logo {
  position: absolute;
  width: 180px;
  height: 65px;
  padding: 10px 0 0 10px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  background-color: #89C7CF;
  line-height: 40px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: underline;
}

/* Interview */

.content__interview {
  padding: 0 30px 0 30px;
}

.content__interview p {
  padding: 0 5px 40px 5px;
  background-color: #89C7CF;
  opacity: 80%;
  line-height: 20px;
  font-weight: 500;
  opacity: 0.8;
}

.content__interview h2 {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  transform: translateX(5%);
}

.content__interview h2::after{
  content: "";
  display: block;
  background-color: #89C7CF;
  width: 129px;
  height: 15px;
  position: absolute;
  z-index: -1;
  transform: translate(145%, -337%);
}
/* Interview */

/*image personnage */
.zoro {
  position: absolute;
  width: 150px;
  height: 220px;
  z-index: -1;
}

.luffy {
  position: absolute;
  width: 150px;
  height: 220px;
  z-index: -1;
  right: 0;
}

.sanji {
  position: absolute;
  width: 184px;
  height: 220px;
  z-index: -1;
  right: 0;
}

/* image personnage */

/* theorie */
.content__theorie {
  padding: 0 30px 0 30px;
}

.content__theorie p {
  padding: 40px 5px 40px 5px;
  line-height: 20px;
  font-weight: 500;
  opacity: 0.8;
}

.content__theorie h2 {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  transform: translateX(5%);
}

.content__theorie h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 0 5px;
}

.content__theorie h2::after{
  content: "";
  display: block;
  background-color: #89C7CF;
  width: 129px;
  height: 15px;
  position: absolute;
  z-index: -1;
  transform: translate(24%, -337%);
}

.content__theorie__background {
  background-color: #89C7CF;
  opacity: 0.8;;
}

.poneglyphe {
  width: 70vw;
  transform: translateX(10%);
  padding: 10px 0 10px 0;
}

/* theorie */

/* final scans */

.content__finalScans {
  padding: 0 20px 0 20px;
}

.content__finalScans h2 {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  transform: translateX(5%);
}

.content__finalScans h2::after{
  content: "";
  display: block;
  background-color: #89C7CF;
  width: 129px;
  height: 15px;
  position: absolute;
  z-index: -1;
  transform: translate(34%, -337%);
}

.content__finalScans ul {
  padding: 0 20px 0 20px;
  line-height: 30px;
  font-weight: 500;
  opacity: 0.8;
  background-color: #89C7CF;
  color: inherit;
}

/* final scans */

footer {
  background-color: black;
  transform: translateY(40%);
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 750px) {

  .fondOnepiece {
    height: 30vh;
  }  

  .logo {
    width: 335px;
    height: 121px;
  }

  nav ul {
    font-size: 24px;
  }

  /* personnages */ 

  .zoro {
    height: 600px;
    width: 400px;
    right: -8%;
  }

  .luffy {
    height: 600px;
    width: 400px;
  }

  .sanji {
    height: 378px;
    width: 300px;
  }

  /* personnages */
  

  /* interview */

  .content__interview {
    padding: 0 80px 0 80px;
  }

  .content__interview p{
    padding: 20px 10px 20px 10px;
    font-size: 24px;
    line-height: 25px;
  }
  
  .content__interview h2 {
    font-size: 48px;
    transform: translateX(0%)
  }

  .content__interview h2::after {
    height: 28px;
    width: 266px;
    transform: translate(134%, -174%);
  }

  /* interview */

  /* theorie */

  .content__theorie {
    padding: 0 80px 0 80px;
  }

  .content__theorie p{
    padding: 20px 10px 20px 10px;
    font-size: 24px;
    line-height: 25px;
  }

  .content__theorie h2 {
    font-size: 48px;
    transform: translateX(0%);
    padding: 50px 0 50px 0;
  }

  .content__theorie h3 {
    font-size: 35px;
    font-weight: bold;
    padding: 20px 0 20px 5px;
    line-height: 20px;
  }
  .content__theorie h2::after {
    height: 28px;
    width: 266px;
    transform: translate(30%, -179%);
  }

  /* theorie */

  /* final scans */

  .content__finalScans {
    padding: 0 80px 0 80px;
  }

  .content__finalScans p {
    padding: 20px 10px 20px 10px;
    font-size: 24px;
    line-height: 25px;
  }

  .content__finalScans h2 {
    font-size: 48px;
    transform: translateX(0%);
    padding: 50px 0 50px 0;
  }

  .content__finalScans h2::after {
    height: 28px;
    width: 266px;
    transform: translate(30%, -179%);
  }
}
  /* final scans */